body{
    background-color: #e3fdfd;
  }
  hr{
    border-style:none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
  }
  img{
    border-radius: 100px;
  }
  h1{
      color: #364f6b;
  }
  h2{
      color:#364f6b }